In [1]:
import yfinance as yf
#yf.pdr_override()
#web.get_data_yahoo('2330.TW')
data = yf.download('2330.TW', start='2023-01-01', end='2024-10-27')
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW
Date,,,,,,
2023-01-03 00:00:00+00:00,437.941589,453.0,453.5,443.0,446.0,14885824
2023-01-04 00:00:00+00:00,434.557953,449.5,455.0,448.5,449.5,19188422
2023-01-05 00:00:00+00:00,443.258789,458.5,459.5,455.0,459.0,23549581
2023-01-06 00:00:00+00:00,443.258789,458.5,459.5,455.0,455.0,20886011
2023-01-09 00:00:00+00:00,465.010864,481.0,481.0,467.5,468.0,46666263
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,1085.000000,1085.0,1095.0,1080.0,1090.0,36491060
2024-10-22 00:00:00+00:00,1075.000000,1075.0,1075.0,1060.0,1065.0,41197877
2024-10-23 00:00:00+00:00,1060.000000,1060.0,1070.0,1055.0,1060.0,31423466
2024-10-24 00:00:00+00:00,1060.000000,1060.0,1075.0,1055.0,1070.0,38236996
2024-10-25 00:00:00+00:00,1065.000000,1065.0,1070.0,1060.0,1065.0,22009575

In [2]:
#台灣大盤[^TWII]
#web.get_data_yahoo('^TWII')
data1 = yf.download('^TWII', start='2023-01-01', end='2024-10-27')
data1

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^TWII,^TWII,^TWII,^TWII,^TWII,^TWII
Date,,,,,,
2023-01-03 00:00:00+00:00,14224.120117,14224.120117,14237.940430,14001.969727,14108.160156,1816400
2023-01-04 00:00:00+00:00,14199.129883,14199.129883,14257.450195,14177.969727,14186.950195,2073800
2023-01-05 00:00:00+00:00,14301.049805,14301.049805,14357.599609,14270.929688,14285.120117,2086500
2023-01-06 00:00:00+00:00,14373.339844,14373.339844,14384.919922,14278.519531,14278.519531,1741200
2023-01-09 00:00:00+00:00,14752.209961,14752.209961,14752.209961,14504.469727,14504.469727,2581100
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,23542.529297,23542.529297,23678.509766,23480.060547,23602.980469,3005000
2024-10-22 00:00:00+00:00,23535.429688,23535.429688,23535.429688,23269.859375,23428.109375,3046700
2024-10-23 00:00:00+00:00,23334.759766,23334.759766,23486.449219,23318.839844,23402.240234,3039000
2024-10-24 00:00:00+00:00,23192.519531,23192.519531,23446.640625,23150.769531,23446.640625,3322300
2024-10-25 00:00:00+00:00,23348.449219,23348.449219,23388.529297,23222.769531,23255.070312,2744200

In [3]:
taiwan = yf.download('^TWII', start='2023-01-01', end='2024-10-27')
taiwan

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^TWII,^TWII,^TWII,^TWII,^TWII,^TWII
Date,,,,,,
2023-01-03 00:00:00+00:00,14224.120117,14224.120117,14237.940430,14001.969727,14108.160156,1816400
2023-01-04 00:00:00+00:00,14199.129883,14199.129883,14257.450195,14177.969727,14186.950195,2073800
2023-01-05 00:00:00+00:00,14301.049805,14301.049805,14357.599609,14270.929688,14285.120117,2086500
2023-01-06 00:00:00+00:00,14373.339844,14373.339844,14384.919922,14278.519531,14278.519531,1741200
2023-01-09 00:00:00+00:00,14752.209961,14752.209961,14752.209961,14504.469727,14504.469727,2581100
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,23542.529297,23542.529297,23678.509766,23480.060547,23602.980469,3005000
2024-10-22 00:00:00+00:00,23535.429688,23535.429688,23535.429688,23269.859375,23428.109375,3046700
2024-10-23 00:00:00+00:00,23334.759766,23334.759766,23486.449219,23318.839844,23402.240234,3039000
2024-10-24 00:00:00+00:00,23192.519531,23192.519531,23446.640625,23150.769531,23446.640625,3322300
2024-10-25 00:00:00+00:00,23348.449219,23348.449219,23388.529297,23222.769531,23255.070312,2744200

In [ ]:
from datetime import datetime
#使用index比較符合我們的需求
all_data = taiwan.to_dict(orient='index')
#先取出key,再一筆一筆取出資料
for key,value in all_data.items():
    print(key)
    print(type(key))
    print(value)
    print("=========")